@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

header {
  height: 80px;
}

footer {
  background-color: #e40e0e;
  position: static;
  height: 60px;
  margin: 20px 0% 0% 0%;
}
footer a {
  color: aliceblue;
}
footer .row {
  width: 100%;
}
footer .row .heightFooter {
  margin: 0%;
  padding: 0%;
  height: 60px;
}
footer .textAlign__right {
  display: inline-flex;
  padding: 1%;
}
footer #TerminosYCondiciones {
  max-width: 100%;
  font-size: 2.2rem;
  text-decoration: none;
}
footer #etiquetaALogos {
  width: 8rem;
  padding-left: 22%;
}

.img-local img {
  width: 640px;
  height: 450px;
}

nav {
  position: fixed;
  background-color: #454545;
  font-size: 20px;
  width: 100%;
  z-index: 2;
}
nav ul {
  padding: 0%;
  margin: 0%;
}

.menuHorizontal {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.menuHorizontal > li > a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}
.menuHorizontal > li:hover {
  background-color: #ee4242;
}
.menuHorizontal li:hover .menuVertical {
  display: block;
}

.menuVertical {
  position: absolute;
  z-index: 3;
  display: none;
  list-style: none;
  width: 250px;
  background-color: #7b7b7b;
}
.menuVertical li:hover {
  background-color: #fd7b7b;
}
.menuVertical li a {
  display: block;
  color: white;
  padding: 15px 15px 15px 15px;
  text-decoration: none;
}

/* Esto es para mi html del Samsung galaxy S22 ULTRA */
a {
  color: rgb(0, 0, 0);
  font-family: "Bebas", sans-serif;
}

section {
  position: static;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 33px;
}

h1 {
  font-family: "Roboto Slab", serif;
  color: #3e5f8a;
  font-size: 80px;
  text-align: center;
  margin-top: 4%;
}

h2 {
  font-family: "Rubik", sans-serif;
  color: white;
  font-size: 30px;
  text-align: center;
  margin: 1%;
}

.card-body h5 {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.card-body p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

img {
  max-width: 100%;
}

.body_grid-form {
  display: grid;
  grid-template-areas: "1" "2" "3";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  min-height: 100vh;
}

.header-contactanos {
  grid-area: 1;
}

.main-contactanos {
  grid-area: 2;
}

.footer-contactanos {
  grid-area: 3;
}

.h2-form {
  text-align: center;
  background-color: #3e5f8a;
  margin: 0;
  padding: 1.5rem;
  width: auto;
  border-radius: 1rem;
}

label {
  font-size: 2rem;
}

.form-check label {
  font-size: 1.4rem;
  margin-left: 10px;
}

input {
  height: 44px;
}

::-moz-placeholder {
  font-size: 1.5rem;
}

:-ms-input-placeholder {
  font-size: 1.5rem;
}

::placeholder {
  font-size: 1.5rem;
}

.form-check-input {
  width: 1.5rem;
  height: 1.5rem;
}

.btn-size {
  width: 100px;
  height: 40px;
  font-size: 15px;
  text-align: center;
  background-color: #5783bc;
  color: white;
}

/* Redefinición de clases de bootstrap */
.navbar {
  height: 4rem;
  font-size: 2rem;
}

.navbar-brand {
  font-size: 2rem;
}

.card {
  transition: all 1s;
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: #3e5f8a;
  border: 0;
}
.card:hover {
  transform: scale(1.05, 1.05);
}
.card__img-top {
  width: 450px;
  height: 270px;
}
.card a {
  text-decoration: none;
  color: white;
}
.card a:hover {
  background-color: #7b7b7b;
}

.height {
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  background-color: rgb(52, 123, 190);
  font-size: 300%;
}

.subtitulo {
  background-color: #3e5f8a;
  margin-bottom: 1%;
  border-radius: 1rem;
  filter: drop-shadow(1px 2px 3px black);
}

.carousel-indicators {
  margin-bottom: 4rem;
}

.carousel-padding {
  padding: 1%;
}

.carousel-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.carousel-flex img {
  width: 1800px;
  height: 1200px;
}

#h2S22Ultra__imagenesYReview {
  color: blue;
  font-size: 39px;
  font-family: "Roboto", sans-serif;
  margin: 0% 0% 1% 1%;
  padding: 1% 1% 1% 1%;
  background-color: aliceblue;
  width: 22%;
  text-align: center;
}

/* Footer */
.footer-flex {
  display: flex;
  justify-content: flex-end;
}

/* About Us */
.aboutUs-title {
  margin-bottom: 3%;
}

.terminosYCondiciones {
  font-size: large;
  padding: 0% 3% 3% 3%;
}

/* Paginas de celulares */
.main-father {
  display: grid;
  grid-template-areas: "title1" "tabla" "title2" "pictures" "title3" "video" "description";
  grid-template-rows: 1fr auto 1fr auto 1fr auto auto;
  grid-template-columns: 1fr;
  row-gap: 33px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.title {
  color: white;
  font-size: 65px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  padding: 2.2%;
  background-color: #ee4242;
  border-radius: 1rem;
  width: auto;
}
.titleGrid-1 {
  grid-area: title1;
  justify-self: center;
  align-self: center;
  width: 100%;
}
.titleGrid-2 {
  grid-area: title2;
  justify-self: center;
  align-self: center;
  width: 100%;
}
.titleGrid-3 {
  grid-area: title3;
  justify-self: center;
  align-self: center;
  width: 100%;
}

table {
  background-color: #cadffb;
  text-align: center;
  border: solid;
  border-collapse: collapse;
  width: 90%;
}
table th, table td {
  padding: 0%;
  font-size: 200%;
  border: solid;
  color: black;
}

.main-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.table {
  grid-area: tabla;
  width: 100%;
}
.table a {
  text-decoration: none;
  color: black;
}

.table-responsive {
  width: 95%;
}

.pictures {
  display: flex;
  justify-content: space-around;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 1%;
}
.pictures img {
  display: block;
  margin-right: 3rem;
  grid-area: pictures;
  border-radius: 3%;
  width: 400px;
  height: 400px;
  transition: all 1s;
}
.pictures img:hover {
  transform: scale(1.2, 1.2);
}

.video {
  grid-area: video;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  margin-bottom: 4%;
  height: auto;
  transition: all 1s;
}
.video:hover {
  transform: scale(1.03, 1.03);
}
.video iframe {
  width: 1280px;
  height: 720px;
}

.description {
  grid-area: description;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1% 0% 1% 1%;
  text-align: center;
}
.description p {
  padding: 1% 1% 1% 1%;
  width: 85%;
  color: rgb(0, 0, 0);
  font-size: 39px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: justify;
}

.footer-size {
  width: 100%;
}

/* ANIMACIONES */
@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Medias queries */
@media screen and (max-width: 1400px) {
  .card__img-top {
    width: 400px;
    height: 220px;
  }
  .carousel-flex img {
    width: 1125px;
    height: 750px;
  }
  .pictures {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
  .video iframe {
    width: 854px;
    height: 480px;
  }
  .description p {
    font-size: 33px;
  }
}
@media screen and (max-width: 1200px) {
  .card__img-top {
    width: 500px;
    height: 280px;
  }
  .carousel-flex img {
    width: 1000px;
    height: 650px;
  }
  h1 {
    font-size: 58px;
  }
}
@media screen and (max-width: 992px) {
  .card__img-top {
    width: 400px;
    height: 230px;
  }
  .carousel-flex img {
    width: 800px;
    height: 500px;
  }
  .pictures img {
    width: 520px;
    height: 520px;
  }
  .video iframe {
    width: 640px;
    height: 360px;
  }
  .description p {
    font-size: 29px;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 28px;
  }
  .card-body h5 {
    font-size: 17px;
  }
  .card-body p {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .card__img-top {
    width: 450px;
    height: 150px;
  }
  .carousel-flex img {
    width: 580px;
    height: 380px;
  }
  .table-responsive {
    width: 90%;
  }
  .video iframe {
    width: 426px;
    height: 240px;
  }
  .title {
    font-size: 33px;
    padding: 2.5%;
  }
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 23px;
  }
  .card-body h5 {
    font-size: 15px;
  }
  .card-body p {
    font-size: 12px;
  }
}
@media screen and (max-width: 576px) {
  .card__img-top {
    width: 550px;
    height: 280px;
  }
  .carousel-flex img {
    width: 700px;
    height: 300px;
  }
  nav {
    font-size: 15px;
  }
  .menuVertical {
    width: 180px;
  }
  h1 {
    font-size: 33px;
  }
  footer #etiquetaALogos {
    width: 6.5rem;
    padding-left: 22%;
  }
  footer #TerminosYCondiciones {
    max-width: 100%;
    font-size: 1.7rem;
    text-decoration: none;
  }
  .table-responsive {
    width: 85%;
  }
  .pictures img {
    width: 400px;
    height: 400px;
  }
  .description p {
    font-size: 20px;
  }
  .title {
    font-size: 27px;
  }
  h2 {
    font-size: 20px;
  }
  .card-body h5 {
    font-size: 15px;
  }
  .card-body p {
    font-size: 12px;
  }
}
@media screen and (max-width: 450px) {
  .card__img-top {
    width: 450px;
    height: 220px;
  }
  .carousel-flex img {
    width: 450px;
    height: 200px;
  }
  nav {
    font-size: 1.04rem;
  }
  .menuVertical {
    width: 130px;
  }
  footer #etiquetaALogos {
    width: 5.5rem;
    padding-left: 22%;
  }
  footer #TerminosYCondiciones {
    max-width: 100%;
    font-size: 1.2rem;
    text-decoration: none;
  }
  table th, table td {
    font-size: 150%;
  }
  .table-responsive {
    width: 80%;
  }
  .pictures img {
    width: 320px;
    height: 320px;
  }
  .title {
    font-size: 24px;
  }
  h1 {
    font-size: 25px;
  }
}/*# sourceMappingURL=style.css.map */