@mixin titles {
    font-family:'Roboto Slab', serif;
}
@mixin subtitles{
    font-family:'Rubik', sans-serif;
}
@mixin description{
    font-family:'Roboto', sans-serif;
}
@mixin a{
    font-family:'Farro', sans-serif;
}
