$paleta_de_colores1:(
    primero:#3e5f8a,
    segundo:#5783bc,
    tercero:#6a9cde,
    cuarto:#a0c5f7,
    quinto:#cadffb,
);

$paleta_de_colores2:(
    primero:#e40e0e,
    segundo:#ee4242,
    tercero:#fd7b7b,
    cuarto:#454545,
    quinto:#7b7b7b,
);

