*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
html{
    font-size: 62.5%;
}


/* .main-father{
    display: grid;
    grid-template-areas:'titulo  ' 
                        'fotos    '
                        'lorem     ';

    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}


.title{
    grid-area: titulo;
    background-color: aliceblue;
}
.img{
    grid-area: fotos;
}
.lorem{
    grid-area: lorem;
} */


header{
    height: 100px;
    position: relative;
}
body{
    background-color: rgb(176, 176, 96);
}

footer{
    background-color: rgb(175, 37, 37);
    position:static;
    height: auto;
    margin: 1% 0% 0% 0%;
}


/* Esto es para mi html del Samsung galaxy S22 ULTRA */

a{
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
}
section{
    position: static;
    width: 100%;
}
table{
    background-color: white;
    text-align: center;
    border: solid;
    border-collapse: collapse;
    width: 100%;
}
th,td{
    padding: 0%;
    font-size: 200%;
    border: solid;
}
h1{
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    font-size:800%;
    text-align: center;
    display: flex;
    justify-content: center;
}
h2{
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 1%;
}

img{
    max-width: 100%;
}

/* Redefinición de clases de bootstrap */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    height: 4rem;
    font-size:2rem;
}

.navbar-brand{
    font-size: 2rem;
}

.card-img-top{
    width: 450px;
    height: 270px;
}

.height{
    display: flex;
    justify-content:space-between;
    height: 100px;
    width: 100%;
    background-color: rgb(52, 123, 190);
    font-size: 300%;
}

.main__div-div-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: chocolate;
    margin: 1% 0% 0% 0%;
}

.index-lorem{
    margin-top: 1%;
    background-color: chocolate;
}

.container .row img{
    margin: 3% 0% 0% 0%;
    border-radius: 3%;
}


.carousel-padding{
    padding: 1%;
}

.carousel-flex{
display: flex;
flex-direction: row;
justify-content:center;
align-items: center;
width: 100%;
}

.carousel-flex img{
    width: 1300px;
    height: 850px;
}

.textAlign__right-footer-div{
    display: inline-flex;
    padding: 1%;
}



.textAlign__left-header{
    text-align: left;
}

.textAlign__left-header-ul{
    display: inline;
    text-align: center;
}


#etiquetaATerminosYCondiciones{
    max-width: 100%;
    font-size: 180%;
}

#etiquetaALogos{
    width: 6rem;
    padding-left: 22%;
}

#h2S22Ultra__imagenesYReview{
    color: blue;
    font-size: 39px;
    font-family:'Roboto', sans-serif;
    margin:0% 0% 1% 1%;
    padding: 1% 1% 1% 1%;
    background-color: aliceblue;
    width: 22%;
    text-align: center;
}

/* Footer */
.footer-flex{
    display: flex;
    justify-content:flex-end;
}
footer .row{
    width: 100%;
}
footer a{
    color: aliceblue;
}
/* About Us */

.aboutUs-title{
    margin-bottom: 3%;
}

.terminosYCondiciones{
    font-size: large;
    padding: 0% 3% 3% 3%;
}

/* Iphone 14 pro max/ Samsung S22 Ultra/ Motorola Edge 30 Ultra */

.main-father{
    display: grid;
    grid-template-areas:'title1  ' 
                        'tabla    '
                        'title2     '
                        'pictures     '
                        'title3     '
                        'video     '
                        'description   '
                        ;

    grid-template-rows: 1fr 3fr 1fr 4fr 1fr auto auto;
    grid-template-columns: 1fr;
}

.title{
    color: blue;
    font-size: 39px;
    font-family:'Roboto', sans-serif;
    margin:1% 0% 1% 1%;
    padding: 1% 1% 1% 1%;
    background-color: aliceblue;
    width: 44%;
    text-align: center;
}
.main-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.pictures{
    display: flex;
    justify-content: space-around;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 1%;
}
.pictures img{
    display: inline-flex;
    margin-right: 3rem;
    grid-area: pictures;
    border-radius: 3%;
    width: 400px;
    height: 400px;
}
.video{
    grid-area: video;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 4%;
    height: auto;
}
.description{
    grid-area: description;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1% 0% 1% 1%;
    text-align: center;
}
.description p{
    background-color: aliceblue;
    padding: 1% 1% 1% 1%;
    width: 80%;
    color: rgb(0, 0, 0);
    font-size: 39px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.marginSection{
    grid-area: tabla;
    margin: 1% 1% 1% 1%;
    width: 90%;
}


/* Medias queries */
@media screen and (max-width: 1400px) {
    .card-img-top{
        width: 400px;
        height: 220px;
    }
    .carousel-flex img{
        width: 1125px;
        height: 750px;
    }
    
}
@media screen and (max-width: 1200px) {
    .card-img-top{
        width: 500px;
        height: 280px;
    }
    .carousel-flex img{
        width: 1000px;
        height: 650px;
    }
}
@media screen and (max-width: 992px) {
    .card-img-top{
        width: 400px;
        height: 230px;
    }
    .carousel-flex img{
        width: 800px;
        height: 500px;
    }
}
@media screen and (max-width: 768px){
    .card-img-top{
        width: 450px;
        height: 150px;
    }
    .carousel-flex img{
        width: 580px;
        height: 380px;
    }
}
@media screen and (max-width: 576px){
    .card-img-top{
        width: 550px;
        height: 280px;
    }
    .carousel-flex img{
        width: 700px;
        height: 300px;
    }
}
@media screen and (max-width: 450px){
    .card-img-top{
        width: 450px;
        height: 220px;
    }
    .carousel-flex img{
        width: 450px;
        height: 200px;
    }
}













/* Properties of Css:

font-size: 333%;
font-style: italic;
font-weight: bold;
font-family: 'Comic Sans MS', sans-serif;

text-align: right;
text-decoration: underline rgb(255, 174, 0);

line-height: 1.6;
line-height: 10px;

width: 199px;
height: 33px;
padding: 5px;

margin-top: 5px;
margin-bottom: 10px;
margin-left: 22px;
margin-right: 33px;


border: 3px;
border-top: dashed 7px orange;
border-left: dashed 4px black;
border-right: dashed 4px #04ffe2;
border-bottom: dashed 7px violet;

color: #21e62b;

overflow: auto;

display: inline-block; 

background-image: url(https://i.pinimg.com/originals/ae/50/52/ae50523f0e0a4049f247504f34e6ab33.gif);
background-repeat: repeat-y;
background-position: right center;
background-size: 100px 100px
background-color: rgb(23, 23, 216);

*/